<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="UrlAmbiente" value="http://v12webfondos:7044/TEST/VFHomeNG/#HWiDoiVx8ZLS68KCmf2IH2Gd4RyO4a2gW9MTB-p7sp0uXYhIK5QXZZPPnh9nSt_YZV0Jvx0ulzTQWPp0GYZL3A" /> -->
    <add key="UrlAmbiente" value="http://v12webfondos:7005/Desarrollo/VFWebSPA/#/mainpage" />
    <add key="DefaultImagePath" value="\Reportes\Imagenes\" />
    <add key="DefaultReportPath" value="\Reportes\" />
    <add key="DownloadPath" value="C:\Users\Usuario\Downloads\" />
    <add key="StringDeConexion" value="Data Source=v21server11;Initial Catalog=vfCli_BANCOR_07_00_07_TEST;User ID=UsuarioGenerico;Password=vesco;" />
    <add key="ServerWebApi" value="http://v12webfondos:7044/Test/VFHomeNG_WebAPI" />
    <add key="ServerIntegrador" value="http://v12webfondos:7044/Test/ESCO.Bancor.Integrador1000" />
    <add key="UriClient" value="http://v12webfondos:7044" />
    <add key="ImplicitWait" value="30" />
    <add key="wait" value="1000" />
    <add key="Retry" value="1" />
    <add key="UserApiIntegrador" value="UsuarioSL" />
    <add key="PassApiIntegrador" value="sasa" />
    <add key="StrConnectionMariaDb" value="Server=192.168.22.70;User ID=jfernandez;Password=maria1945;Database=qaa" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
